<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <title>用户登录</title>
  </head>
  <body>
    <center>
      <div class="jumbotron">
        <h1>Hello, EmailBox!</h1>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please login first！.......</p>

      </div>
        <form action="/login/login" method="post" class="form-inline">
          <div class="form-group">
            <label for="exampleInputEmail1">输入您的Id:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="account" class="form-control" id="exampleInputName2" /><br><br>

            <label for="exampleInputPassword1">输入您的Name:</label>
            <input type="text" name="name" class="form-control" id="exampleInputEmail2" /><br><br>


          <button type="submit" class="btn btn-default">登录</button>

          <a href="/login/add" class="btn btn-default">注册</a>

        </div>
        </form>

    </center>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
